.cardResults {
  width: 200px;
  font-family: "Raleway", sans-serif;
  margin: 15px;
  transition: .2s;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
}

.cardResults:hover {
  transform: scale(1.1);
  border-color: #b7a57a;
  z-index: 99;
}
