.card {
  width: 200px;
  font-family: 'Raleway', sans-serif;
  margin: 15px; 

}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
}

/* i{
    display: inline;
} */