.header {
    background-color: #222222;
    background-image: url("Scene.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    min-height: 500px;
    padding: 130px 20px;
    padding-bottom: 110px;
    text-align: center;
}

.videoTag{

    /* height: 500px; */
    width: 100vh;
}